{% extends "layout.njk" %}
{% block content %}
    <main class="container">
        <h2>{{message}}</h2>
        <p>My Pocket Henrik is an upcoming game where your task is to take care of your very own Henrik!</p>
        <a href="/news">Go to the news!</a>
    </main>
{% endblock %}