<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>My Pocket Henrik Forum</title>
</head>
<body>
    <div class="topBar">
        <h1>My Pocket Henrik</h1>
    </div>

    <div class="sidebar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href=/news>News</a>
            </li>
            <li>
                <a href="/">Official Site</a>
            </li>
            <li>
                {%if login%}
                <a href="/logout">Log Out</a>
                {%else%}
                <a href="/login">Log In</a>
                {%endif%}
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>