body {
    width: 100%;
    display: inline-grid;
    grid-template-areas: 
    "heading heading"
    "sidebar content";
    grid-template-rows: 110px 1fr;
    grid-template-columns: 1fr 6fr;

    background-color: #2F2E2D;
    color: #FAFAFA;
    font-family: sans-serif;
    font-size: 1.2rem;

    .topbar {
        display: block;
        grid-area: heading;
        height: fit-content;
        width: 100%;
        border-bottom: 3px solid #30C484;

        h1 {
            margin:0;
            padding: 2.1rem;
        }
    }

    p {
        padding-bottom: 2rem;
    }

    button {
        color: #FAFAFA;
        outline-style: none;
        border-style: none;
        background-color: #30C484;
        padding: 0.5rem;
        padding-left: 1rem; 
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    button:hover {
        background-color: #A9F0D1;
    }

    a {
        cursor: pointer;
        color: #FAFAFA;
        text-decoration: none;
        background-color: #30C484;
        padding: 0.5rem;
        padding-left: 1rem; 
        padding-right: 1rem;
        border-radius: 0.25rem;
    }

    a:hover {
        background-color: #A9F0D1;
        cursor: pointer;
    }

    time {
        color: #FAFAFA;
    }

    form {
        padding: 1rem;
        border: 2px solid #30C484;
        border-radius: 0.25rem;

        footer {
            margin-top: 1rem;
            margin-bottom: 0rem;
            border-top: 2px solid #30C484;
            color: #FAFAFA;
    
            ul {
                width: 100%;
                padding-left: 0rem;
                margin-top: 1rem;
                display: flex;
                list-style: none;
                justify-content: right;
    
                li {
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .form-field {
        margin-bottom: 1rem;
        max-width: 40rem;
        display: grid;
        grid-template-rows: 1fr 2fr;

        h3 {
            max-width: 40rem;
        }

        select {
            max-width: 15rem;
        }

        input {
            width: 100%;
        }

        textarea {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .hamburgermenu {
        display: none;
        grid-area: heading;
        justify-self: right;
        background-color: #30C484;
        display: none;

        .icon {
            color:#2F2E2D;
            padding: 1rem;
            padding-left: 2.2rem;
            padding-right: 2.2rem;
        }

        .icon:hover {
            color: #FAFAFA;
        }

        a {
            justify-self: right;
            background-color: inherit;
            color: #2F2E2D;
            font-size: 3rem;
        }

        #myLinks {
            border: 1px solid #30C484;
            border-bottom-left-radius: 0.25rem;
            background-color: #2F2E2D;
            padding-left: 0;
            display: none;
            z-index: 2;

            ul {
                margin: 0;
                padding-left: 0;
                list-style: none;
            }

            a {
                border-radius: 0;
                text-align: left;
                display: block;
                width: 100%;
                font-size: 1.75rem;
                background-color: #30C484;
            }

            a:hover {
                background-color: #A9F0D1;
            }
        }
    }

    .sidebar {
        margin: 0.5rem;
        display: grid;
        width: 100%;
        grid-template-rows: 75px 100px;
        grid-area: sidebar;
        background-color: #30C484;
        color: #2F2E2D;
        border-radius: 0.25rem;

        header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #2F2E2D;
            border-bottom: 1px solid #2F2E2D;
            border-radius: 0.25rem;
            border: 3px solid #30C484;
            padding-bottom: 5.8rem;

            h1 {
                color: #FAFAFA;
                justify-self: right;
                padding-left: 0.5rem;
            }

            img {
                width: 5rem;
            }

            a {
                background-color: inherit;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                padding: 0;

                a {
                    margin-inline: auto;
                    margin-top: 0.5rem;
                    display: block;
                    text-align: left;
                    width: 95%;
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                }

                a:hover {
                    background-color: #A9F0D1;
                    cursor: pointer;
                }
            }
        }
    }

    @media (max-width: 700px) {
        .topbar {
            h1 {
                padding-top: 2.3rem;
                padding-bottom: 2.3rem;
                padding-left: 1rem;
                font-size: 2rem;
            }
        }

        .sidebar {
            display:none;
        }
        .hamburgermenu {
            display:grid;
        }
    }

    @media (min-width: 400px) {
        .topbar {
            h1::after {
                content: "My Pocket Henrik";
            }
        }
    }

    @media (max-width: 400px) {
        .topbar {
            h1::after {
                content: "MPH";
            }
        }
    }
}

main {
    grid-area: content;
    margin-inline: auto;
    padding: 2rem;
    width: 75%;

    h2 {
        padding-top: 1rem;
    }

    h3 {
        padding-bottom: 1rem;
    }
}

@media (max-width: 700px) {
    body {
        grid-template-areas: 
        "heading heading"
        "content content";
    }

    time {
        display:none;
    }

    main {
        width: 95%;
    }
}

.comments {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    list-style: none;
}

.comment {
    font-size: 1rem;
    max-width: 95%;
    margin-bottom: 1rem;
    border: 2px solid #30C484;
    border-radius: 0.25rem;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    word-wrap: break-word;
    margin-left: 3rem;

    p {
        margin: 1rem;
    }

    a {
        background-color: inherit;
    }

    a:hover {
        background-color: inherit;
    }

    footer {
        margin-top: 0rem;
        margin-bottom: 0rem;
        border-top: 2px solid #30C484;
        color: #FAFAFA;

        ul {
            width: 100%;
            padding-left: 0rem;
            margin-top: 1rem;
            display: flex;
            list-style: none;
            justify-content: right;

            li {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    header {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}

.posts {
    max-width: 60rem;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    list-style: none;
}

.post {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: inherit;
    border: 3px solid #30C484;
    word-wrap: break-word;

    p {
        margin: 1rem;
    }

    footer {
        margin-top: 0rem;
        margin-bottom: 0rem;
        border-top: 3px solid #30C484;
        color: #FAFAFA;

        a {
            background-color: inherit;
        }

        ul {
            width: 100%;
            padding-left: 0rem;
            margin-top: 1rem;
            display: flex;
            list-style: none;
            justify-content: right;

            li {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    header {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}

.error {
    color: red;
}